html, body {
  /* Make it fullscreen */
  position:absolute;

  top:0;
  left:0;
  bottom:0;
  right:0;

  height:100%;
  width:100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Make it fullscreen */
    position:absolute;
    
    top:0;
    left:0;
    bottom:0;
    right:0;

    height:100%;
    width:100%;
}

.metronome {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

  max-width: 540px;
}

.share-div {
  position: absolute;
  right: 0;
}

.btn-circular {
	height: 2.5em;
	width: 2.5em;
	padding: 0.2em 0 0 0;
	border-radius: 2.5em;
}

.btn-circular:focus {
	box-shadow: none;
}

/* BPM display styling */
.bpm-display {
    background-color: transparent;
	border: none;
	padding: 0;
	font-size: 8em;
	font-weight: 500;
    text-align: center;
}

.bpm-display:focus {
    background-color: transparent;
    box-shadow: none;
}

.bpm-display:disabled {
	background-color: transparent;
}

/* Remove Arrows/Spinners in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove Arrows/Spinners in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

input[type="checkbox"] {
	height: 0.8em;
  }

/* Plus and Minus buttons styling */
.display-flex {
    display: flex;
    justify-content: space-between;
}

.btn-minus {
  margin: 0;
  padding: 0;
}

.btn-plus {
  margin: 0;
  padding: 0;
}

.flex-grow {
  margin-top: 10px;
  flex-grow: 1;

  margin-left: 1em;
  margin-right: 1em;
}

.stress-beats-dots-div {
	display: flex;
	justify-content: space-evenly;
	color: #495057;
}

.timer-div, .stress-beats-div {
	display: flex;
	justify-content: space-between;
}

.timer-div-left, .stress-beats-div-left {
	display: flex;
	justify-content: flex-start;
}

.timer-div-right, .stress-beats-div-right {
	display: flex;
	justify-content: flex-end;
}

.timer-checkbox, .stress-beats-checkbox {
	margin: 0;
	padding: 0;
}

.timer-label, .stress-beats-label {
	font-size: 0.8em;

	margin: 0 1em 0 1em;
	padding: 0;
}

.timer-display, .stress-beats-display {
    background-color: transparent;
    border: none;
	font-size: 1em;
	font-weight: 500;
	text-align: center;
	width: 4em;
}

.timer-display:focus, .stress-beats-display:focus {
	outline: none;
}